@model CheeseMVC.ViewModels.ViewMenuViewModel

@{ ViewBag.title = "menu: '" + @Model.Menu.Name + "'"; }

<h2>@ViewBag.Title</h2>

<ul>
    @foreach (var item in Model.Items)
    {
        <li>@item.Cheese.Name</li>
    }
</ul>

@if (Model.Items.Count == 0)
{
    <p>No cheeses on this menu yet!</p>
}

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>